<section id='bio'>
  <img src='/images/eric.jpg' alt='Eric Danielson'>Eric Danielson is a professional systems engineer and an amateur economist living in San Francisco.
  He’s primarily focused on the growth of ubiquitous computing and its impact on society, human evolution and cognitive science as applied to economies and politics,
  and the impact of open source and the ‘hacker’ movement on power dynamics and human progress, though this blog will cover other issues of interest.
  He can frequently be found at one of the many fine coffee shops or bars in the city, and may also be spotted at meetups, barcamps, or random street fairs.
</section>