<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<title>Finely Cultured: Eric Danielson's Personal Blog</title>
	<meta name="description" content="Eric Danielson's personal blog, covering tech, economics, and culture.">
  {% include head.html %}
</head>
<body>
  <header id="primary">
    <h1>FinelyCultured</h1>
    <h2>Eric Danielson's Personal Blog</h2>
  </header>
  <article>
  {% include bio.html %}
  <section id='articles'>
    <h1>Posts</h1>
    <ul>
      {% for post in site.posts %}
      <li class='article' id='{{ post.id }}'><h2><a href="{{ post.url }}">{{ post.title }}</a></h2><h3>{{ post.date | date: "%B %d, %Y" }}</h3></li>
      {% endfor %}
  </section>
  </article>
{% include footer.html %}
</body>
</html>