<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<title>{{ page.title }} - Finely Cultured</title>
	<meta name="description" content="Eric Danielson's personal blog, covering tech, economics, and culture.">
  {% include head.html %}
</head>
<body>
  <header id="primary">
    <h1>FinelyCultured</h1>
    {% include postnav.html %}
  </header>
  <article>
    <header>
      <hgroup>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.date | date: "%B %d, %Y"}}</h2>
        {% if page.epigraph %}<h4>{{ page.epigraph }}</h4>{% endif %}
      </hgroup>
    </header>
    <section class='hyphenate'>
      {{ content }}
    </section>
    {% include bio.html %}
    {% include disqus.html %}
  </article>
  {% include footer.html %}
</body>
</html>